<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MKFilmsStreamer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MKFilmsStreamer.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <form method="POST" asp-page-handler="Search" asp-page="/Index">
            <nav class="navbar navbar-expand-xl navbar-toggleable-xl box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-page="/Index">
                     <img id="logo" src="./assets/images/logo.png" alt="logo" title="TVFilms Streamer"> </a>
                    <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1" style="margin-left: 220px;">
                            <li class="nav-item">
                                <a class="nav-link text-light" style="font-size: x-large;" asp-area="" asp-page="/Index">Movies</a>
                            </li>
                        </ul>
                    </div>
                    <div id="searchDiv">
                        <input type="text" id="search" name="search" placeholder="what movie are you looking for?">
                        <input type="submit" id="searchBtn" value="Search">
                    </div>
                </div>
            </nav>
        </form>
    </header>
        @RenderBody()
    <footer>
        <div class="text-center">
            <h5>Class Project by Mandeep Kaur. &copy; 2024 - MKFilmStreamer - <a asp-page="/Privacy">Privacy</a></h5>
            <p><a href="https://www.themoviedb.org" alt="The MovieDB" target="_blank" style="text-align: right; color: #E7E8D1;">
                Powered by <img id="tmdbLogo" src="/assets/images/tmdbLogo.svg" alt="TMDB Logo">
                </a>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>